<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
       
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        
     {% load static %}
        <link type="text/css" href="{% static 'main/css/womendesign.css' %}"  rel = "stylesheet"  />
</head>
<body>
    {% include 'main/banner.html'%}

    {% for r in infw%}
    <div style="clear: left;">
        <h3 style="margin-left: 30px">{{r.fullname}}</h3>
        <p style="float: left; margin-left:35px"><img src="{{r.photo}}" height="250" width="360" border="1px"></p>
        <p style="font-size: 11px">{{r.text}}</p>
    </div>
    {%endfor%}

</body>
</html>